@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Rubik+Doodle+Shadow&family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@300;400;500&family=Oswald:wght@400;500&display=swap");
@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth !important;
}

@theme static {
  --background: var(--background);
  --animate-gradient: gradientMove 3s linear infinite;
  --breakpoint-xs: 25rem;

  @keyframes gradientMove {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
}

@layer utilities {
  @keyframes spark-move {
    to {
      offset-distance: 100%;
    }
  }
}

@layer components {
  .text-highlight {
    @apply rounded px-2 py-0.5 my-0.5 inline-block;
  }

  .highlight {
    @apply bg-indigo-600 border border-indigo-200 text-white rounded-lg px-1.5 py-0.5 my-0.5 inline-block;
  }

  .highlight-grey {
    @apply bg-card border border-foreground text-foreground rounded-lg px-1.5;
  }

  .highlight-green {
    @apply bg-green-300 border border-foreground !text-black rounded-lg px-1.5;
  }
}

@utility container {
  padding-inline: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #18181b inset;
  transition: background-color 5000s ease-in-out 0s;
}

@theme inline {
  --font-sans: "Inter", sans-serif;
  --font-display_2: "Rubik Doodle Shadow", "sans-serif";
  --font-display: "Oswald", "sans-serif";
  --font-mono: "JetBrains Mono", monospace;
  --font-pixel: "Jura", "Inter", system-ui;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-glitch-after: glitch var(--after-duration) infinite linear
    alternate-reverse;
  --animate-glitch-before: glitch var(--before-duration) infinite linear
    alternate-reverse;
  @keyframes glitch {
    0% {
      clip-path: inset(20% 0 50% 0);
    }
    5% {
      clip-path: inset(10% 0 60% 0);
    }
    10% {
      clip-path: inset(15% 0 55% 0);
    }
    15% {
      clip-path: inset(25% 0 35% 0);
    }
    20% {
      clip-path: inset(30% 0 40% 0);
    }
    25% {
      clip-path: inset(40% 0 20% 0);
    }
    30% {
      clip-path: inset(10% 0 60% 0);
    }
    35% {
      clip-path: inset(15% 0 55% 0);
    }
    40% {
      clip-path: inset(25% 0 35% 0);
    }
    45% {
      clip-path: inset(30% 0 40% 0);
    }
    50% {
      clip-path: inset(20% 0 50% 0);
    }
    55% {
      clip-path: inset(10% 0 60% 0);
    }
    60% {
      clip-path: inset(15% 0 55% 0);
    }
    65% {
      clip-path: inset(25% 0 35% 0);
    }
    70% {
      clip-path: inset(30% 0 40% 0);
    }
    75% {
      clip-path: inset(40% 0 20% 0);
    }
    80% {
      clip-path: inset(20% 0 50% 0);
    }
    85% {
      clip-path: inset(10% 0 60% 0);
    }
    90% {
      clip-path: inset(15% 0 55% 0);
    }
    95% {
      clip-path: inset(25% 0 35% 0);
    }
    100% {
      clip-path: inset(30% 0 40% 0);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .text-outline-px {
    -webkit-text-stroke: 1px var(--foreground);
  }
  .text-outline-0\.5 {
    -webkit-text-stroke: 2px var(--foreground);
  }
  .text-outline-1 {
    -webkit-text-stroke: 4px var(--foreground);
  }
}
/* styles/globals.css або tailwind.config.ts plugin */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.has-tasks::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 4px;
  height: 4px;
  background-color: var(--foreground); /* або чорний */
  border-radius: 9999px;
  margin: 2px auto 0 auto;
}

.hover-line {
  stroke-dasharray: 3, 3;
  transition: transform 0.3s ease;
}

.blueprint-grid {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 20px 20px;
}

.status-dot {
  width: 6px;
  height: 6px;
  background: #00ff9c;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 10px #00ff9c;
}
