@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

:root {
  --background: "#000000";
  --background-alt: "#ff0000";
  --surface: "#333333";
  --border: "#b3b3b3";
  --fg: "#999999";
  --fgMuted: "#666666";
  --accent: "#3f6ae0";
  --highlight: "#e6e6e6";
  --shadow: "#cccccc";
  --link: "#ffffff";
  --success: "#00cc66";
  --error: "#ff3333";
  --warning: "#ff9900";
}

@theme static {
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-fg: var(--fg);
  --color-fg-muted: var(--fgMuted);
  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
  --color-shadow: var(--shadow);
  --color-link: var(--link);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
}

@layer components {
  .text-highlight {
    @apply text-white rounded px-2 py-0.5;
  }

  .highlight {
    @apply bg-indigo-800 border border-indigo-600 text-white rounded-lg px-1.5 py-0.5;
  }

  .highlight-grey {
    @apply bg-gray-500 border border-black text-white rounded-lg px-1.5 py-0.5;
  }

  .highlight-green {
    @apply bg-green-300/30 border border-green-200 text-white rounded-lg px-1.5 py-0.5;
  }
}
